#
# Required packages to run Pyrede
#
Django>=1.4
django-registration
feedparser
requests
celery==2.5.5
django-celery==2.5.5
django_compressor
#
#  following package are for running tests
#
nosexcover
django-nose
pep8
flake8
Whoosh
#
#  If you use jenkins you can add
#
django-jenkins
gcovr
