{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}
<div id="container" class="container">
  <div class="row">
    <div class="span12">

      <h3>Add a distribution package for : {{package.name}} {{package.latest_version}}</h3>
      {% if form %}
      <form class="well form-horizontal" action="/pypi/{{package.name}}/add/" method="post">
	{% csrf_token %}
	<fieldset>
	  <input type="hidden" name="referer" value="{{referer}}">
	  <div>réf : <a href="{{package.link}}">{{package.link}}</a></div>
	  <hr>
	  {% if errors %}
	  <div class="alert alert-error">
	    {{ errors }}
	  </div>
	  {% endif %}

	  <div class="control-group">
	    <label class="control-label" for="inputEmail">{% trans "Distribution" %}</label>
	    <div class="controls">
	      {{form.distribution}} {{form.distribution.errors}}
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="firstname">{% trans "Name" %}</label>
	    <div class="controls">
	      {{form.name}}{{form.name.errors}}
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="firstname">{% trans "Version" %}</label>
	    <div class="controls">
	      {{form.version}}{{form.version.errors}}
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="package_version">{% trans "Provide version" %}</label>
	    <div class="controls">
	      {{form.package_version}}{{form.package_version.errors}}
	    </div>
	  </div>

	  <div class="control-group">
	    <div class="controls">
	      <input type="submit" class="btn btn-primary" value="{% trans 'Send' %}" />
	    </div>
	  </div>
	</fieldset>
	Return to <a href="{{referer}}">{{referer}}</a>
      </form>
      {% else %}
      <div class="well">
	<div>
	  <h4>Thanks for your contribution !</h4>
	</div>
	<div>
	  Return to <a href="{{referer}}">{{referer}}</a>
	</div>
      </div>
      {% endif %}

      <h3>Already known packages</h3>
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>{% trans "Name" %}</th>
	    <th>{% trans "Distribution" %}</th>
	    <th>{% trans "Version" %}</th>
	    <th>Provide</th>
	  </tr>
	</thead>
	<tbody>
	  {% for package in dispacks %}
	  <tr>
	    <td>{{package.name}}</td>
	    <td>{{package.distribution.name}} {{package.distribution.version_name}}</td>
	    <td>
	      <span class="badge badge-info">{{package.version}}</span> 
	    </td>
	    <td>
	      <span class="badge badge-success">{{package.package_version}}</span> 
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>


    </div><!--/row-->
  </div><!--/row-->
</div><!--/.container-->
{% include "footer.html" %}
