{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="row">    
    <div class="span6">
      <p>
      Pyrede analyze your requirements.txt file and lookup for packages in GNU/Linux distributions.
      </p>
      <p>
	Actually it works for Debian Squeeze, Squeeze Backports and Wheezy. We work on other distributions like Ubuntu and CentOS.
      </p>
      <hr/>
      Some stats about pyrede :
      <ul>
	<li># pypi packages analyzed : {{stats.stats_nb_pack}}</li>
	<li># distribution packages : {{stats.dispack}}</li>
      </ul>
      <hr/>
      Last lookups
      {% include "lookups.html" %}
    </div>
    <div class="span6">
      <form class="well form-horizontal" action="/analyze/" method="post">
	{% csrf_token %}
	<fieldset>
	  <h3>copy here your requirements.txt content</h3>
	  {% if helpform == 'notfound' %}
	  <div class="alert alert-error">
	    {% trans "This email address was not found" %}
	  </div>
	  {% endif %}    
	  <div class="control-group">
	    <textarea class="span5" id="id_content" rows="17" cols="42" name="content"></textarea>
	    {{form.content.errors}}
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="inputEmail">{% trans "Distribution" %}</label>
	    <div class="controls">
	      {{form.distribution}} {{form.distribution.errors}}
	    </div>
	  </div>

	  <div class="control-group">
	    {{form.captcha}}
	  </div>
	  <div class="control-group">
	    <input type="submit" class="btn btn-primary" value="{% trans 'Lookup' %}" />
	  </div>	    
	</fieldset>
      </form>
    </div>
  </div>
    
  <h3>Last pypi packages imported</h3>
  {% include "pypis.html" %}

{% endblock %}
