{% load i18n %}
<div class="pager">
  <ul>
    {% if page_obj.has_previous %}
    <li class="previous">
      {% if SEARCHQ %}
      <a href="?q={{ SEARCHQ }}&amp;page={{songs.previous_page_number}}">&larr; {% trans "Previous" %}</a>
      {% else %}
      <a href="?page={{page_obj.previous_page_number}}">&larr; {% trans "Previous" %}</a>
      {% endif %}
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="next">
      {% if SEARCHQ %}
      <a href="?q={{SEARCHQ}}&amp;page={{page_obj.next_page_number}}">{% trans "Next" %} &rarr;</a>
      {% else %}
      <a href="?page={{page_obj.next_page_number}}">{% trans "Next" %} &rarr;</a>
      {% endif %}
    </li>
    {% endif %}
  </ul>
</div>
