# Generated : {% now "jS F Y H:i" %}
# You can test your developpement using this version for
#
#  {{distro.name}} {{distro.version_name}}
#
# ref : http://pyrede.quiedeville.org/analyze/{{pk}}/
#
{% for pack in founds %}{{pack.0}}=={{pack.1}}{% endfor %}
#
# Original version commented
#{% autoescape off %}
{% for pack in ori %}# {{pack.0}}{{pack.1}}{{pack.2}}{% endfor %}
{% endautoescape %}
