{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% include "pager.html" %}

<table class="table table-striped">
  <thead>
    <tr>
      <th class="span3">{% trans "Distribution" %}</th>
      <th class="span2">{% trans "Package name" %}</th>
      <th class="span4">Version number</th>
      <th class="span2">{% trans "PyPI package" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for dispack in object_list %}
    <tr>
      <td>{{dispack.distribution}}</td>
      <td>{{dispack.name}}</td>
      <td>
	<span class="badge badge-info">{{dispack.version}}</span> 
      </td>

      <td><a href="/pypi/{{dispack.package.name}}/">{{dispack.package}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
