{% extends "base.html" %}
{% load i18n %}
{% load distrostats %}
{% block content %}
<div class="pager">
  <ul>
    {% if page_obj.has_previous %}
    <li class="previous">
      {% if SEARCHQ %}
      <a href="?q={{ SEARCHQ }}&amp;page={{songs.previous_page_number}}">&larr; {% trans "Previous" %}</a>
      {% else %}
      <a href="?page={{page_obj.previous_page_number}}">&larr; {% trans "Previous" %}</a>
      {% endif %}
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="next">
      {% if SEARCHQ %}
      <a href="?q={{SEARCHQ}}&amp;page={{page_obj.next_page_number}}">{% trans "Next" %} &rarr;</a>
      {% else %}
      <a href="?page={{page_obj.next_page_number}}">{% trans "Next" %} &rarr;</a>
      {% endif %}
    </li>
    {% endif %}
  </ul>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="span3">{% trans "Name" %}</th>
      <th class="span3">{% trans "Version" %}</th>
      <th class="span2">Version number</th>
      <th class="span3">Repo</th>
      <th class="span1">#pack.</th>
    </tr>
  </thead>
  <tbody>
    {% for distribution in object_list %}
    <tr>
      <td>{{distribution.name}}</td>
      <td><a href="/distribution/{{distribution.id}}/">{{distribution.version_name}}</a></td>
      <td>
	<span class="badge badge-info">{{distribution.version_number}}</span> 
      </td>
      <td>
	{% if distribution.repo %}
	<a target="_blank" href="{{distribution.repo}}">{{distribution.repo}}</a>
	{% endif %}
      </td>
      <td>{% distro_nb_package distribution.id %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
