{% extends "base.html" %}
{% load i18n %}
{% load markup_tags %}
{% load humanize %}
{% block content %}
<div class="well">
  <div class="row">
    
    <div class="span6">
      <h3>{{package.name}}</h3>
      {{package.summary}}
    </div>

    <div class="span2">
      <span class="badge badge-info">{{package.latest_version}}</span> 
    </div>
    <div class="span3">
      {{last_update.pubdate}}
    </div>

  </div>

  <div class="row">
    <div class="span10">
      <ul>
	<li>ref : <a href="{{package.link}}" target="_blank">{{package.link}}</a></li>	
	{% if package.pypi_downloads > 0 %}
	<li># downloads on pypi : {{package.pypi_downloads|intcomma}} ({{package.pypi_downloadstm|intcomma}} this month)</li>
	{% endif %}
	{% if nb_subscribers > 0 %}
	<li>Subscribers : {{nb_subscribers}}</li>
	{% endif %}
      </ul>
    </div>    
  </div>

  <div class="row">
    <div class="span10">
      <a class="btn btn-primary" href="#modalSub" data-toggle="modal">{% trans "Subscribe" %}</a>
      {% if user.is_authenticated %}
      <a class="btn btn-primary" href="/add/pypi/{{package.name}}/">{% trans "Add package" %}</a>
      {% endif %}
    </div>    
  </div>
</div>

<div id="modalSub" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3>Subscribe to {{package.name}}</h3>
  </div>
  
  <div class="modal-body">
    <p>
      You will receive an email for each new version of
      {{package.name}} and for each new distribution package associate
      to it.
    </p>

    <form class="form-inline" action="/pypi/{{package.name}}/sub/" method="post">
      {% csrf_token %}
      <label class="control-label" for="inputEmail">{% trans "Email" %}</label>
      {{form.email}} {{form.email.errors}}      
      <input type="submit" class="btn btn-primary" value="{% trans "Subscribe" %}" />
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>    
  </div>

</div>

<h3>Available packages</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Distribution" %}</th>
      <th>{% trans "Package name" %}</th>
      <th>{% trans "Version" %}</th>
      <th>{% trans "Provide" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for package in dispacks %}
    <tr>
      <td>
	{{package.distribution.name}} {{package.distribution.version_name}}
      </td>
      <td><a target="_blank" href="{{package.link}}">{{package.name}}</a></td>
      <td>
	<span class="badge badge-info">{{package.version}}</span> 
      </td>
      <td>
	{{package.package_version}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Description</h3>

<div class="well">
  {% autoescape off %}
  {{package.description|apply_markup:"restructuredtext"}}
  {% endautoescape %}
</div>

{% endblock %}

