{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% include "pager.html" %}

<table class="table table-striped">
  <thead>
    <tr>
      <th class="span6">{% trans "Name" %}</th>
      <th class="span2">{% trans "Version" %}</th>
      <th class="span4">Version number</th>
    </tr>
  </thead>
  <tbody>
    {% for distribution in object_list %}
    <tr>
      <td>{{distribution.name}}</td>
      <td>{{distribution.version_name}}</td>
      <td>
	<span class="badge badge-info">{{distribution.version_number}}</span> 
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
