{% extends "base.html" %}
{% load i18n %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th class="span6">{% trans "Name" %}</th>
      <th class="span2">{% trans "Version" %}</th>
      <th class="span4">Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{package.name}}</td>
      <td>
	<span class="badge badge-info">{{package.latest_version}}</span> 
      </td>
      <td>
	<a href="{{package.link}}" target="_blank">pypi</a>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}

