{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<h2>{% trans "Search" %}</h2>

<form method="get" action=".">
  <fieldset>
    {% if form.q.value %}
    <input type="text" name="q" value="{{form.q.value}}" id="id_q" />
    {% else %}
    <input type="text" name="q" value="" id="id_q" />
    {% endif %}

    <input type="submit" value="{% trans 'Search' %}">
      
    </fieldset>
      
  {% if query %}
  <h3>{% trans "Results" %}</h3>
  <ul>
  {% for result in page.object_list %}
  <li>    
    <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a> {{ result.object.description }}</li>

  {% empty %}
  <li>{% trans "No results found." %}</li>
  {% endfor %}
  </ul>

  {% if page.has_previous or page.has_next %}
  <div>
    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
    |
    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
  </div>
  {% endif %}
  {% else %}
  {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
</form>

{% endblock %}
